{% extends "base.html" %}
{% load bootstrap3 %}

{% block page_title %}{{ server.name }}{% endblock %}
{% block page_class %}jenkinsserver{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div>
      <h2>{{ server.name }}</h2>
    </div>
  </div>
  <div class="row">
    <h3>Jobs</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Builds</th>
        </tr>
      </thead>
      <tbody>
        {% for job in jobs %}
        <tr>
          <td><a href="">{{ job.name }}</a></td>
          <td><a href="">{{ job.build_set.count }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
