{% extends "base.html" %}
{% load bootstrap3 %}
{% load capomastro_bootstrap %}
{% load jenkins_tags %}

{% block page_title %}{{ server.name }} | {{ job.name }}{% endblock %}
{% block page_class %}jenkinsserver{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div>
      <h2>Builds for {{ job.name }}</h2>
    </div>
  </div>
  <div class="row">
    <h3>Builds</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Build Id</th>
          <th>Duration</th>
          <th>URL</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        {% for build in builds %}
        <tr class="{{ build.status|build_status_to_class }}">
          <td>{{ build.number }}</a></td>
          <td>{{ build.build_id }}</a></td>
          <td>{{ build.duration|build_time_to_timedelta }}</a></td>
          <td>{{ build.url }}</a></td>
          <td>{{ build.status }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
