{% extends "base.html" %}
{% load bootstrap3 %}
{% load capomastro_bootstrap %}
{% load jenkins_tags %}
{% load projects_tags %}

{% block page_title %}Dependency {{ dependency.name }}{% endblock %}
{% block page_class %}dependency{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div>
      <h2>{{ dependency.name }}</h2>

      <form action="" method="post" class="form" id="build-dependency">
      {% csrf_token %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">Build dependency »</button>
      {% endbuttons %}
    </div>
  </div>
  <div class="row">
    <h3>Builds</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Build Id</th>
          <th>Duration</th>
          <th>URL</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        {% for build in builds %}
        <tr class="{{ build.status|build_status_to_class }}">
          <td>{{ build.number }}</a></td>
          <td><a href="{% build_url build.build_id %}">{{ build.build_id }}</a></td>
          <td>{{ build.duration|build_time_to_timedelta }}</a></td>
          <td><a href="{{ build.url }}">{{ build.url }}</a></td>
          <td>{{ build.status }}</a></td>
        </tr>
        {% empty %}
        <tr><td colspan="5">There are no builds for this dependency.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <h3>Projects</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Builds</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
        <tr>
          <td><a href="{% url 'project_detail' project.pk %}">{{ project.name }}</a></td>
          <td>{{ project.description|default:"No description" }}</td>
          <td><a href="{% url 'project_projectbuild_list' pk=project.pk %}">{{ project.projectbuild_set.count }}</a></td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3">This dependency is not used in any projects.</td>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
