{% extends "base.html" %}
{% load bootstrap3 %}
{% load wooster_bootstrap %}

{% block page_title %}Project Build {{ projectbuild.build_id }}{% endblock %}
{% block page_class %}project{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div>
      <h2>{{ projectbuild.build_id }}</h2>
      <p>Build for <a href="{% url 'project_detail' pk=projectbuild.project.pk %}">{{ projectbuild.project.name }}</a></p>
    </div>
  </div>
  <div class="row">
    <h3>Dependencies</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Build #</th>
          <th>Name</th>
          <th>Status</th>
          <th>Phase</th>
        </tr>
      </thead>
      <tbody>
        {% for dependency in dependencies %}
        <tr>
          {% if dependency.build %}
          <td>{{ dependency.build.number }}</td>
          <td>{{ dependency.dependency.name }}</td>
          <td>{{ dependency.build.status }}</td>
          <td><a href="{{ dependency.build.url }}">{{ dependency.build.phase }}</a></td>
          {% else %}
          <td colspan="3">Waiting for build of job {{ dependency.job }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <h3>Build artifacts</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Build</th>
          <th>Filename</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        {% for artifact in projectbuild.get_current_artifacts %}
        <tr>
          <td>{{ artifact.build }}</td>
          <td>{{ artifact.filename }}</td>
          <td><a href="{{ artifact.url }}">{{ artifact.url }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}
