{% extends "base.html" %}
{% load bootstrap3 %}

{% block page_title %}Project Builds for {{ project.name }}{% endblock %}
{% block page_class %}projectbuilds{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h2>Project Builds for {{ project.name }}</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Build Id</th>
          <th>Requested by</th>
          <th>Requested at</th>
          <th>Ended at</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for build in projectbuilds %}
        <tr>
          <td><a href="{% url 'project_projectbuild_detail' project_pk=project.pk build_pk=build.pk %}">{{ build.build_id }}</a></td>
          <td>{{ build.requested_by }}</td>
          <td>{{ build.requested_at|time:"jS F Y H:i" }}</td>
          <td>TODO</td>
          <td>{{ build.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
