{% extends "base.html" %}
{% load bootstrap3 %}

{% block page_title %}{{ project.name }}{% endblock %}
{% block page_class %}project{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div>
      <h2>{{ project.name }}</h2>
    </div>
  </div>
  <div class="row">
    <h3>Dependencies</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Auto-track</th>
          <th>Current Build #</th>
        </tr>
      </thead>
      <tbody>
        {% for projdep in dependencies %}
        <tr>
          <td>{{ projdep.dependency.name }}</td>
          <td>{{ projdep.auto_track|yesno }}</td>
          <td>{{ projdep.current_build.number }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>
      <form action="{% url 'projects_build_project' pk=project.pk %}" method="post" class="form" id="build-project">
        {% csrf_token %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">Build project»</button>
        {% endbuttons %}
      </form>
    </p>
  </div>
  <div class="row">
    <h3>Current artifacts</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Build</th>
          <th>Filename</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        {% for artifact in project.get_current_artifacts %}
        <tr>
          <td>{{ artifact.build }}</td>
          <td>{{ artifact.filename }}</td>
          <td><a href="{{ artifact.url }}">{{ artifact.url }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}
