{% extends "base.html" %}
{% load bootstrap3 %}

{% block page_title %}Wooster - Projects{% endblock %}
{% block page_class %}projects{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h2>Projects</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Builds</th>
        </tr>
      </thead>
      <tbody>
        {% for project in object_list %}
        <tr>
          <td><a href="{% url 'projects_detail' project.pk %}">{{ project.name }}</a></td>
          <td>{{ project.description }}</td>
          <td><a href="{% url 'projects_projectbuild_list' pk=project.pk %}">{{ project.projectbuild_set.count }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p><a href="{% url 'projects_create' %}" class="btn btn-primary" role="button">Create new project »</a></p>
  </div>
</div>
{% endblock %}
