{% extends "base.html" %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
<!-- This code is taken from http://getbootstrap.com/examples/jumbotron/ -->

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Hello from Capomastro!</h1>
        <p>Please create your first Project to continue.</p>
        <p><a href="{% url 'project_create' %}" class="btn btn-primary" role="button">Create project»</a></p>
      </div>
    </div>
{% endblock %}
